<!DOCTYPE html>
<html lang="en">
<head>
<title>My Virtual Bookshelf</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cormorant Garamond">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/efc02a65e2.js" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<!-- Plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    // Series collpase if check box is unchecked
    function seriesCollapse()
    {
      // Get the checkbox
      var series_checkBox = document.getElementById("mySeriesCheck");
      // Get the output text
      var text = document.getElementById("seriesText");

      // If the checkbox is checked, display the output text
      if (series_checkBox.checked == true){
        text.style.display = "block";
      } else {
        text.style.display = "none";
      }
    }
</script>
<script>
    // Series collpase if check box is unchecked
    function readCollapse()
    {
      // Get the checkbox
      var read_checkBox = document.getElementById("myReadCheck");
      // Get the output text
      var text = document.getElementById("readText");

      // If the checkbox is checked, display the output text
      if (read_checkBox.checked == true){
        text.style.display = "block";
      } else {
        text.style.display = "none";
      }
    }
</script>
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: "Cormorant Garamond", serif;
  background-color: #1B201E;
  color: #C4BAA6;
  letter-spacing: 0em;
}

/* Style the header */
header {
  padding: 00px;
  text-align: center;
}

/* Container for flexboxes */
.section {
  display: -webkit-flex;
  display: flex;
  align-self: center;
  flex-direction: row;
}

/* Style the couch picture */
.couch {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* Style the Adding Content Section */
adding {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Style the footer */
footer {
  padding: 10px;
  text-align: center;
}

/* Container with library image and My Virtual Bookshelf */
.headContainer
{
    position: relative;
    text-align: center;
}

/* Centers My Virtual Bookshelf in Library Image */
.centered
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 135px;
}

.centeredTop
{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.textbox
{
    border: none;
    border-bottom: 2px solid #502B09;
    background-color: #1B201E;
    color: #C4BAA6;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

/* Remove Input Number Arrows for Chome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

/* Remove Input Number Arrows for Firefox */
input[type=number]
{
  -moz-appearance: textfield;
}
}
</style>
</head>
<body>
<!-- HEADER ------------------------------------------------------------------>
<header class="w3-display-container w3-mobile">
  <div class="headContainer">
    <img class="w3-image" src='../images/library-3267001.jpg' alt="Library" style="width:100%;">
    <div class="centered w3-animate-opacity">
      <p style="font-size:8.5vw"> Create Your Virtual Bookshelf</p>
    </div>
    <div class="centeredTop" style="font-size:1vw">@Gallo13</div>
      <!--
    <div >
        Image by
        <a href="https://pixabay.com/users/noah_jurik-7130138/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3267001">Noah Jurik</a>
        from
        <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3267001">
            Pixabay</a>
    </div>
    -->
  </div>
</header>

<!-- Sticky Nav Bar------------------------------------------------------------>
<nav class="navbar navbar-expand-sm sticky-top" style="background-color:#101412; padding: 2px 10px 2px 10px;">
    <div class="container-fluid" style="padding: 10px;">
        <span class="navbar-text" style="color:#C4BAA6;">
            {{ msg }}
        </span>
        <div class="justify-content-end">
            <button class="btn btn-primary justify-content-end" type="button" style="background-color:#502B09; padding: 2px 10px 2px 10px;" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
            <button class="btn btn-primary justify-content-end" type="button" style="background-color:#502B09; padding: 2px 10px 2px 10px;" data-bs-toggle="modal" data-bs-target="#registerModal">Register</button>
        </div>
    </div>
</nav>

<!-- MODAL FOR LOGIN ---------------------------------------------------------->
<!-- The Modal -->
<div class="modal fade" id="loginModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content justify-content-center" style="font-family:'Cormorant Garamond', serif; background-color:#1B201E">

      <!-- Modal Header -->
      <div class="modal-header justify-content-center">
        <h4 class="modal-title">LOGIN</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="/login" method="POST">
            <div class="form-outline form-white mb-4">
                <input type="email" id="email" name="email" class="form-control form-control-lg">
                <label class="form-label" for="email">Email</label>
            </div>
            <div class="form-outline form-white mb-4">
                <input type="password" id="password" name="password" class="form-control form-control-lg" />
                <label class="form-label" for="password">Password</label>
            </div>

            <p class="small mb-5 pb-lg-2"><a class="text-white-50">Forgot password? Please contact administrator</a></p>

            <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- MODAL FOR REGISTER ---------------------------------------------------------->
<!-- The Modal -->
<div class="modal fade" id="registerModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content justify-content-center" style="font-family:'Cormorant Garamond', serif; background-color:#1B201E">

      <!-- Modal Header -->
      <div class="modal-header justify-content-center">
        <h4 class="modal-title">REGISTER</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="/register" method="POST">
            <div class="form-outline form-white mb-4">
                <input type="email" name="email" class="form-control form-control-lg">
                <label class="form-label" for="email">Email</label>
            </div>
            <div class="form-outline form-white mb-4">
                <input type="password" name="password" class="form-control form-control-lg">
                <label class="form-label" for="password">Password</label>
            </div>

            <button class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- Adding to Library -------------------------------------------------------->
<div class="w3-display-container section w3-mobile w3-responsive">
  <div class="w3-container couch" style="padding-left:0px"><img class="w3-image" src="../images/spiral-staircase-877834.jpg" alt="Staircase" style="width:100%; height:100%;"></div>

  <div class="w3-panel adding w3-padding-48 w3-responsive" style="font-family:'Cormorant Garamond', serif;">
    <p class='w3-padding-large' style="font-size:4.5vw;">Add a Book to Your Library</p>
    <form class="w3-container was-validated" style="font-size:1vw;" method="POST" action="/get_data">
        <!-- TITLE -->
        <label for="title">Title:</label>
        <input class="w3-input textbox" type="text" name="title" id="title"><br>

        <!-- AUTHOR FIRST NAME-->
        <div class="w3-half">
            <label for="author_fname">Author First Name:</label>
            <input class="w3-input textbox" type="text" name="author_fname" id="author_fname" value=""><br>
        </div>

        <!-- AUTHOR LAST NAME-->
        <div class="w3-half">
            <label for="author_lname">Author Last Name:</label>
            <input class="w3-input textbox" type="text" name="author_lname" id="author_lname" value=""><br>
        </div>

        <!-- GENRE -->
        <label for="genre">Genre:</label>
        <input class="w3-input textbox" type="text" name="genre" id="genre" value=""><br>

        <!-- PUBLISHER -->
        <label for="publisher">Publisher:</label>
        <input class="w3-input textbox" type="text" name="publisher" id="publisher" value=""><br>

        <div class="w3-row">
            <!-- PAGES -->
            <div class="w3-col s4 w3-center">
                <label for="pages">Pages:</label>
                <input class="w3-input textbox" type="number" name="pages" id="pages" min="1" value=""><br>
            </div>

            <!-- DATE PUBLISHED -->
            <div class="w3-col s4 w3-center">
                <label for="date_published">Original Publish Date:</label><br>
                <input id="date_published" name="date_published" type="date">
            </div>

            <div>
                <!-- Read CHECKBOX -->
                <label> Read it already? </label>
                <input type="checkbox" name="read_checkbox" id="myReadCheck" onclick="readCollapse();">

                <!-- RATING -->
                <div class="w3-col s4 w3-center" id="readText" style="back-ground:#1B201E; display:none;">
                    <label for="ratingSelect">Rating:</label>
                    <select class="w3-select" name="rating" id="ratingSelect" style="back-ground:#1B201E">
                      <option value="1" selected>1 Star </option>
                      <option value="2">2 Stars</option>
                      <option value="3">3 Stars</option>
                      <option value="4">4 Stars</option>
                      <option value="5">5 Stars</option>
                    </select><br><br><br>
                </div>
            </div>
        </div>
        <br>

        <!-- SERIES -->
        <div>
            <!-- SERIES CHECKBOX -->
            <label> Part of a Series?   </label>
            <input type="checkbox" name="series_checkbox" id="mySeriesCheck" onclick="seriesCollapse()">

            <!-- SERIES DROPDOWN AFTER CHECKBOX -->
            <div id="seriesText" style="display:none">
                <br>
                <div class="w3-half">
                    <!-- SERIES NAME -->
                    <label for="series">Series Name:</label>
                    <input class="w3-input textbox" type="text" name="series" id="series" value=""><br>
                </div>
                <!-- SERIES NUMBER -->
                <div class="w3-half">
                    <label for="seriesNum">Number in Series:</label>
                    <input class="w3-input textbox" type="number" name="seriesNum" id="seriesNum" min="1" value=""><br>
                </div>
            </div>
        </div>

        <!-- ADD AND CLEAR BUTTONS -->
        <div class="w3-container">
            <br><br><br>
            <input class="w3-btn w3-round-xxlarge w3-ripple" type="submit" value="Add" style="background-color:#502B09">
            <input class="w3-btn w3-round-xxlarge w3-ripple" type="reset" value="Clear" style="background-color:#502B09">
        </div>
    </form>
  </div>
</div>
<!-- Purpose and Functionality ------------------------------------------------>
<div class="w3-display-container section w3-mobile w3-responsive">
  <div class="w3-panel adding w3-padding-64 w3-responsive" style="font-family:'Cormorant Garamond', serif;">
    <p class='w3-padding-large' style="font-size:4.5vw;">Purpose and Functionality</p>
    <p class='w3-padding-large w3-center' style="font-size:2vw;">
        Explore your Virtual Bookshelf – a digital haven for cataloging and <br>
        preserving the library of books you've read and collected. Powered by <br>
        cutting-edge technologies including Python, MySQL, and Flask, this <br>
        dynamic platform enables seamless updates to your book database. Included is <br>
        integrated data analytics to uncover insights into your reading habits. <br>
        Looking ahead, I have exciting plans to introduce a personalized <br>
        content-based recommender system, enhancing your experience by suggesting <br>
        books tailored to your unique preferences. Join me on this literary journey <br>
        as your Virtual Bookshelf continues to evolve and grow. <br>
    </p>
  </div>
   <div class="w3-container couch" style="padding-right:0px"><img class="w3-image" src="../images/table.jpg" style="width:100%; height:100%;"></div>
</div>

<footer class="w3-mobile w3-responsive w3-padding-24">
  <a href='https://www.linkedin.com/in/jessgallo13/' style="color:#C4BAA6;">
    <button class="w3-button w3-circle w3-ripple"><i class="fa-brands fa-linkedin-in"></i></button>
  </a>
  <a href='https://github.com/Gallo13' style="color:#C4BAA6;">
      <button class="w3-button w3-circle w3-ripple"><i class="fa-brands fa-github"></i></button>
  </a>
</footer>
</body>
</html>